In [13]:
import sys
import os
from dotenv import load_dotenv
import pandas as pd

# Add the parent directory to the sys.path
sys.path.insert(0, os.path.abspath(os.path.join(os.getcwd(), '..')))

from sqltoolkit.connectors import PostgreSQLConnector
from sqltoolkit.client import DatabaseClient
from sqltoolkit.entities import Table, TableColumn
from sqltoolkit.compiler import SQLQueryChecker

load_dotenv()

# Define the connection parameters
server = os.getenv('POSTGRES_HOST')
database = 'debit_card_specializing'
username = os.getenv('POSTGRES_USER')
password = os.getenv('POSTGRES_PWD')
port = '5432'

psql_connector = PostgreSQLConnector(server, database, username, password, port)
sql_client = DatabaseClient(psql_connector)

In [3]:
from openai import AzureOpenAI

aoai_endpoint = os.getenv('OPENAI_ENDPOINT')
aoai_key = os.getenv('OPENAI_API_KEY')
aoai_deployment = os.getenv('OPENAI_4o_DEPLOYMENT') # should be GPT-4o
aoai_embedding_deployment = os.getenv('OPENAI_EMBEDDING_DEPLOYMENT') # should be text-embedding-small

openai_client = AzureOpenAI(azure_endpoint=aoai_endpoint,
    api_key=aoai_key,
    api_version='2024-10-21')

In [3]:
import os
import pandas as pd

directory = 'debit_card_specializing_doc'
concatenated_content = ""

for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        table_name = filename.split('.')[0]
        df = pd.read_csv(os.path.join(directory, filename))
        table_markdown = df.to_markdown(index=False)
        concatenated_content += f"\n### Table: {table_name}\n\n{table_markdown}\n\n"

print(concatenated_content)

### Table: transactions_1k

| original_column_name   | column_name    | column_description   | data_format   | value_description            |
|:-----------------------|:---------------|:---------------------|:--------------|:-----------------------------|
| TransactionID          | Transaction ID | Transaction ID       | integer       | nan                          |
| Date                   | nan            | Date                 | date          | nan                          |
| Time                   | nan            | Time                 | text          | nan                          |
| CustomerID             | Customer ID    | Customer ID          | integer       | nan                          |
| CardID                 | Card ID        | Card ID              | integer       | nan                          |
| GasStationID           | Gas Station ID | Gas Station ID       | integer       | nan                          |
| ProductID              | Product ID     | Product ID           | integer       | nan                          |
| Amount                 | nan            | Amount               | integer       | nan                          |
| Price                  | nan            | Price                | real          | commonsense evidence:        |
|                        |                |                      |               |                              |
|                        |                |                      |               | total price = Amount x Price |


### Table: yearmonth

| original_column_name   | column_name   | column_description   | data_format   |   value_description |
|:-----------------------|:--------------|:---------------------|:--------------|--------------------:|
| CustomerID             | Customer ID   | Customer ID          | integer       |                 nan |
| Date                   | nan           | Date                 | text          |                 nan |
| Consumption            | nan           | consumption          | real          |                 nan |


### Table: products

| original_column_name   | column_name   | column_description   | data_format   |   value_description |
|:-----------------------|:--------------|:---------------------|:--------------|--------------------:|
| ProductID              | Product ID    | Product ID           | integer       |                 nan |
| Description            | nan           | Description          | text          |                 nan |


### Table: gasstations

| original_column_name   | column_name    | column_description   | data_format   |   value_description |
|:-----------------------|:---------------|:---------------------|:--------------|--------------------:|
| GasStationID           | Gas Station ID | Gas Station ID       | integer       |                 nan |
| ChainID                | Chain ID       | Chain ID             | integer       |                 nan |
| Country                | nan            | nan                  | text          |                 nan |
| Segment                | chain segment  | chain segment        | text          |                 nan |


### Table: customers

| original_column_name   | column_name    | column_description             | data_format   |   value_description |
|:-----------------------|:---------------|:-------------------------------|:--------------|--------------------:|
| CustomerID             | nan            | identification of the customer | integer       |                 nan |
| Segment                | client segment | client segment                 | text          |                 nan |
| Currency               | nan            | Currency                       | text          |                 nan |

In [4]:
from sqltoolkit.indexer import DatabaseIndexer

context = concatenated_content

indexer = DatabaseIndexer(sql_client, 
                          openai_client, 
                          aoai_deployment,
                          aoai_embedding_deployment,
                          extra_context=context)

manifest = indexer.fetch_and_describe_tables()
indexer.generate_table_embeddings()

tables_dict = indexer.export_json_manifest()

2024-12-18 13:06:15,248 - DatabaseIndexer - INFO - Fetching tables from the database.
2024-12-18 13:06:15,433 - DatabaseIndexer - INFO - Processing table: public.customers
2024-12-18 13:06:20,312 - DatabaseIndexer - INFO - Completed processing table: public.customers
2024-12-18 13:06:20,314 - DatabaseIndexer - INFO - Processing table: public.gasstations
2024-12-18 13:06:27,721 - DatabaseIndexer - INFO - Completed processing table: public.gasstations
2024-12-18 13:06:27,723 - DatabaseIndexer - INFO - Processing table: public.products
2024-12-18 13:06:31,181 - DatabaseIndexer - INFO - Completed processing table: public.products
2024-12-18 13:06:31,182 - DatabaseIndexer - INFO - Processing table: public.transactions_1k

Object of type date is not JSON serializable

2024-12-18 13:06:44,404 - DatabaseIndexer - INFO - Completed processing table: public.transactions_1k
2024-12-18 13:06:44,405 - DatabaseIndexer - INFO - Processing table: public.yearmonth
2024-12-18 13:06:49,301 - DatabaseIndexer - INFO - Completed processing table: public.yearmonth
2024-12-18 13:06:49,302 - DatabaseIndexer - INFO - Completed fetching and processing all tables.

In [9]:
indexer.tables[0].model_dump()

{'name': 'public.customers',
 'business_readable_name': 'Customer Segments',
 'description': 'The customers table contains information about individual customers, including a unique identifier, their client segment classification, and the currency they use for transactions. This table helps in distinguishing customers and categorizes them into different groups such as Key Account Management (KAM), Large Account Management (LAM), and Small and Medium Enterprises (SME). The currency column indicates the currency codes like CZK and EUR used by customers in their transactions. This information is used for tailoring services and performing financial analyses.',
 'columns': [{'name': 'customerid',
   'type': 'bigint',
   'description': None,
   'definition': 'Customer ID is a unique identifier assigned to each customer in the database. It is represented as a bigint integer and serves as the primary key for the customers table. This column helps in distinguishing individual customers and is used to establish relationships with other tables in the database, such as transactions and consumption records.',
   'sample_values': [3, 5, 6, 7, 9, 10, 20, 35, 37, 38],
   'primary_key': True},
  {'name': 'segment',
   'type': 'text',
   'description': None,
   'definition': 'The segment column contains the client segment classification for each customer. This classification categorizes customers into different groups such as KAM (Key Account Management), LAM (Large Account Management), and SME (Small and Medium Enterprises). This information is used to tailor services and marketing strategies to different types of clients based on their segment.',
   'sample_values': ['KAM', 'LAM', 'SME'],
   'primary_key': False},
  {'name': 'currency',
   'type': 'text',
   'description': None,
   'definition': "The currency column contains the currency codes used by the customers in their transactions. The data is stored as text and often includes values such as 'CZK' and 'EUR'. This column is essential for financial analyses, as it helps in identifying the currency type for each customer, which could impact transaction amounts and overall financial calculations.",
   'sample_values': ['CZK', 'EUR'],
   'primary_key': False}],
 'embedding': [-0.02029700018465519,
  0.006003419402986765,
  0.028899777680635452,
  -0.01186789758503437,
  0.015445634722709656,
  0.017981311306357384,
  -0.0030653912108391523,
  0.027417737990617752,
  0.000945813546422869,
  -0.02176746167242527,
  0.015491948463022709,
  -0.046637944877147675,
  -0.02547256089746952,
  0.01038006879389286,
  0.041473958641290665,
  0.037027839571237564,
  0.0073638856410980225,
  -0.00966220535337925,
  -0.04425278678536415,
  0.030057622119784355,
  0.034990034997463226,
  0.041473958641290665,
  0.008284371346235275,
  -0.003282486693933606,
  0.00237936875782907,
  0.01708977296948433,
  -0.04409068822860718,
  0.005268188659101725,
  -0.010032715275883675,
  -0.054094456136226654,
  0.05247347429394722,
  -0.014461467042565346,
  -0.007080214098095894,
  0.047888413071632385,
  0.0039019330870360136,
  -0.045619040727615356,
  -0.02049383334815502,
  0.0460590198636055,
  0.0257272869348526,
  0.009152754209935665,
  -0.027116699144244194,
  0.0391814298927784,
  -0.01954440027475357,
  -0.0068891700357198715,
  -0.047425277531147,
  0.03235015273094177,
  0.025565188378095627,
  -0.052797671407461166,
  -0.011717378161847591,
  0.035036347806453705,
  -0.02330739237368107,
  0.013789918273687363,
  0.015017232857644558,
  -0.011815794743597507,
  -0.011960525065660477,
  -0.02551887370646,
  0.037745703011751175,
  0.0068891700357198715,
  0.0331374853849411,
  -0.028066130355000496,
  0.005305818747729063,
  0.0023373968433588743,
  -0.00817437656223774,
  -0.0027339584194123745,
  0.004182710312306881,
  0.03876460716128349,
  0.004868732765316963,
  0.01409095712006092,
  -0.001377110369503498,
  0.014693035744130611,
  0.04182131215929985,
  -0.007207576651126146,
  0.0003551323607098311,
  -0.022832676768302917,
  -0.006819699425250292,
  -0.025843070819973946,
  -0.023145295679569244,
  0.013813074678182602,
  0.011028461158275604,
  -0.010750578716397285,
  0.008203322067856789,
  -0.05201033875346184,
  0.004376648925244808,
  0.04015401750802994,
  0.04279390349984169,
  -0.043419137597084045,
  -0.024129461497068405,
  -0.015700360760092735,
  -0.009922720491886139,
  0.026769345626235008,
  -0.03691205754876137,
  -0.010177445597946644,
  0.011346868239343166,
  0.0421455092728138,
  0.04251601919531822,
  0.02198745124042034,
  0.003716678125783801,
  -0.07007269561290741,
  -0.047610532492399216,
  -0.013940437696874142,
  0.0046400586143136024,
  0.01732134073972702,
  0.03193332999944687,
  -0.02399052120745182,
  0.02174430340528488,
  -0.008510150946676731,
  -0.015144594945013523,
  0.0019857019651681185,
  -0.04434541240334511,
  0.02940922975540161,
  -0.07067477703094482,
  0.014148849993944168,
  -0.0009942982578650117,
  0.0375836044549942,
  0.013558349572122097,
  0.021674834191799164,
  -0.04904625937342644,
  0.0390656441450119,
  0.010009558871388435,
  -0.037977270781993866,
  -0.008272793143987656,
  0.020945392549037933,
  0.026861973106861115,
  -0.03536054491996765,
  -0.018652861937880516,
  0.01802762597799301,
  0.01523722242563963,
  -0.009552210569381714,
  0.021443264558911324,
  -0.008857504464685917,
  0.020852765068411827,
  -0.027579836547374725,
  -0.009476950392127037,
  0.005962894763797522,
  -0.05872583016753197,
  -0.008209111168980598,
  -0.0036269451957195997,
  0.045665353536605835,
  -0.03306801617145538,
  -0.00818016566336155,
  -0.012852064333856106,
  -0.015526684001088142,
  0.031748075038194656,
  0.006466556806117296,
  -0.03876460716128349,
  -0.06006893143057823,
  -0.014449888840317726,
  0.04941676929593086,
  -0.077297642827034,
  0.007560719270259142,
  0.008249635808169842,
  -0.01982228457927704,
  -0.005771850701421499,
  -0.027417737990617752,
  -0.0032738030422478914,
  0.03306801617145538,
  0.03482793644070625,
  -0.0041074506007134914,
  -0.042701274156570435,
  -0.004981622565537691,
  0.004090082831680775,
  -0.007722817361354828,
  0.037768859416246414,
  0.024430502206087112,
  -0.0599299892783165,
  -0.030567072331905365,
  -0.06340351700782776,
  -0.010600058361887932,
  -0.03489740937948227,
  -0.005100301466882229,
  -0.021616941317915916,
  -0.027024071663618088,
  -0.023897893726825714,
  -0.024638913571834564,
  -0.050620924681425095,
  0.0044287522323429585,
  -0.014125692658126354,
  0.01729818433523178,
  0.020378049463033676,
  -0.0688222274184227,
  -0.005656066350638866,
  0.005751588381826878,
  0.022415854036808014,
  -0.05363132059574127,
  0.0011773823061957955,
  0.011242661625146866,
  -0.005748693831264973,
  -0.03186385706067085,
  -0.008562253788113594,
  -0.010345333255827427,
  -0.031284935772418976,
  -0.01681189052760601,
  0.04626743495464325,
  0.04626743495464325,
  -0.022357961162924767,
  -0.00033559376606717706,
  -0.024430502206087112,
  0.03151650354266167,
  -0.03656470403075218,
  0.04557272791862488,
  0.012562603689730167,
  -0.03596262261271477,
  0.039714038372039795,
  0.031030209735035896,
  -0.03806990012526512,
  -0.013454143889248371,
  -0.01200683880597353,
  0.017402390018105507,
  -0.045896921306848526,
  0.017691850662231445,
  0.04029295966029167,
  0.0038179894909262657,
  -0.0707210898399353,
  0.013813074678182602,
  -0.022647421807050705,
  0.0027411947958171368,
  -0.024615757167339325,
  0.020841186866164207,
  -0.0014653959078714252,
  -0.03246593475341797,
  0.008515940047800541,
  0.0003337846137583256,
  0.027417737990617752,
  4.226581586408429e-05,
  -0.029038719832897186,
  0.040709782391786575,
  0.0445769801735878,
  -0.028899777680635452,
  -0.007890705019235611,
  -0.07882599532604218,
  0.01495933998376131,
  0.007317571900784969,
  0.026792502030730247,
  -0.041473958641290665,
  0.012076309882104397,
  0.014426732435822487,
  -0.013952015899121761,
  -0.02570412866771221,
  -0.022821098566055298,
  -0.012342613190412521,
  -0.030775485560297966,
  0.01831708662211895,
  -0.03890354558825493,
  0.025356777012348175,
  -0.010542166419327259,
  -0.0016267703613266349,
  -0.019602293148636818,
  -0.01834024302661419,
  0.03040497563779354,
  0.013674133457243443,
  -0.008319106884300709,
  -0.003490898758172989,
  0.014994075521826744,
  -0.05349237844347954,
  -0.014310947619378567,
  -0.0029061876703053713,
  0.03841725364327431,
  -0.0006306629511527717,
  0.056271202862262726,
  -0.04154343158006668,
  0.0076822927221655846,
  -0.029038719832897186,
  -0.04383596032857895,
  0.01273628044873476,
  -0.022439010441303253,
  0.014310947619378567,
  -0.025078894570469856,
  -0.0033606411889195442,
  -0.015376163646578789,
  0.014866712503135204,
  -0.0035343177150934935,
  -0.017877105623483658,
  0.025148363783955574,
  -0.0028294804506003857,
  -0.013986751437187195,
  -0.004037979990243912,
  0.026051482185721397,
  -0.01752975396811962,
  0.033276427537202835,
  -0.011752113699913025,
  -0.03496687859296799,
  -0.03901933133602142,
  0.01039743609726429,
  0.0012714570621028543,
  -0.0038903546519577503,
  0.010015347972512245,
  0.02297161892056465,
  0.0327206626534462,
  0.0038498302455991507,
  -0.013315202668309212,
  0.02498626708984375,
  -0.019972803071141243,
  -0.03316064178943634,
  -0.015156174078583717,
  -0.003812200389802456,
  0.028135601431131363,
  -0.009170121513307095,
  -0.03387850522994995,
  -0.017275027930736542,
  0.011016882956027985,
  -0.021084332838654518,
  -0.006854434497654438,
  -0.010050083510577679,
  -0.004718212876468897,
  -0.04105713590979576,
  0.03911196067929268,
  0.05140825733542442,
  -0.001874259440228343,
  0.05363132059574127,
  -0.026074638590216637,
  0.021420108154416084,
  -0.0040958719328045845,
  0.03962140902876854,
  -0.004246391821652651,
  -0.04450751096010208,
  -0.06766438484191895,
  0.03737519308924675,
  -0.040200334042310715,
  0.024801012128591537,
  -0.028320856392383575,
  0.0015558524755761027,
  -0.043442294001579285,
  0.020146479830145836,
  0.024801012128591537,
  0.007062846329063177,
  -0.008272793143987656,
  -0.07405567914247513,
  0.006756017915904522,
  0.003919300623238087,
  -0.05960579216480255,
  0.023411599919199944,
  -0.03885723277926445,
  0.04969464987516403,
  -0.012296299450099468,
  -0.04779578745365143,
  0.021119069308042526,
  0.01680031232535839,
  0.04876837506890297,
  -0.05641014501452446,
  -0.009905352257192135,
  0.012967849150300026,
  -0.04918519780039787,
  0.020378049463033676,
  -0.030636543408036232,
  -0.0018091307720169425,
  -0.028529267758131027,
  0.01275943685323,
  0.013268888927996159,
  0.04821261018514633,
  -0.0014740796759724617,
  -0.01979912631213665,
  -0.020447518676519394,
  0.027301954105496407,
  -0.02052856795489788,
  0.030289189890027046,
  -0.026375679299235344,
  -0.01654558628797531,
  -0.03357746824622154,
  -0.04471592232584953,
  0.0030422343406826258,
  -0.010235338471829891,
  -0.026283051818609238,
  -0.009187489748001099,
  0.005771850701421499,
  0.042191822081804276,
  -0.002725274534896016,
  -0.03756044805049896,
  -0.00951747503131628,
  -0.03536054491996765,
  -0.0569659098982811,
  0.007664924953132868,
  -0.06085626408457756,
  -0.025565188378095627,
  -0.021964294835925102,
  -0.02181377448141575,
  0.02524099126458168,
  0.008313317783176899,
  0.06539501249790192,
  0.020598039031028748,
  4.536395499599166e-05,
  0.04223813861608505,
  0.03441111370921135,
  0.04636006057262421,
  -0.014554094523191452,
  0.047656845301389694,
  0.013222575187683105,
  -0.03200279921293259,
  0.03943615406751633,
  -0.023944206535816193,
  -0.04927782714366913,
  0.02323792316019535,
  -0.022473745048046112,
  0.03269750624895096,
  -0.04471592232584953,
  0.002308450872078538,
  0.039482470601797104,
  0.011462652124464512,
  0.040686625987291336,
  0.014114114455878735,
  0.008816979825496674,
  0.021396951749920845,
  -0.03832462430000305,
  0.05867951735854149,
  -0.01630243845283985,
  -0.009291695430874825,
  -0.02101486176252365,
  -0.05316818132996559,
  -0.021697990596294403,
  0.050343044102191925,
  -0.019197048619389534,
  0.00966799445450306,
  -0.005531598348170519,
  0.002946712076663971,
  0.030590230599045753,
  -0.028598738834261894,
  -0.027556680142879486,
  -0.04992621764540672,
  0.04703161120414734,
  0.0361015647649765,
  0.02301793172955513,
  -0.014195163734257221,
  -0.06655285507440567,
  -0.017506595700979233,
  -0.02006543055176735,
  -0.029640797525644302,
  0.0055923848412930965,
  0.008556464686989784,
  0.01272470224648714,
  -0.038255155086517334,
  -0.006964429747313261,
  0.029756583273410797,
  0.009065915830433369,
  0.01374360453337431,
  -0.043395981192588806,
  -0.04397490248084068,
  -0.031794387847185135,
  0.023457912728190422,
  -0.058309007436037064,
  -0.006281301844865084,
  0.006107625551521778,
  -0.028529267758131027,
  0.022705314680933952,
  0.006808120757341385,
  0.005302924197167158,
  0.04378964751958847,
  0.0451095886528492,
  0.03709731251001358,
  -0.04152027517557144,
  0.04110344871878624,
  -0.03422585874795914,
  0.02177903987467289,
  0.02751036547124386,
  -0.007323361001908779,
  -0.005007673986256123,
  -0.00953484233468771,
  -0.04619796201586723,
  0.038973018527030945,
  0.05566912516951561,
  0.007711238693445921,
  -0.0067212823778390884,
  0.00520740170031786,
  0.01807393878698349,
  0.02373579517006874,
  0.06432979553937912,
  0.0006078678998164833,
  -0.027301954105496407,
  -0.016279282048344612,
  -0.0027411947958171368,
  0.038741450756788254,
  -0.010466907173395157,
  -0.013280467130243778,
  -0.012296299450099468,
  -0.010113764554262161,
  0.025333618745207787,
  0.0005749417468905449,
  -0.0014762507053092122,
  -0.020632773637771606,
  -0.0489073172211647,
  0.034550055861473083,
  0.001489276415668428,
  0.00791386142373085,
  0.0202738419175148,
  -0.04302547127008438,
  0.03216489776968956,
  0.008376998826861382,
  0.07437987625598907,
  0.027070384472608566,
  0.00035386596573516726,
  0.049370452761650085,
  0.0257272869348526,
  0.005300029180943966,
  -0.005166877526789904,
  0.06118046119809151,
  -0.009187489748001099,
  -0.005621330812573433,
  -0.0003904104232788086,
  -0.0018554445123299956,
  -0.0684054046869278,
  0.026421992108225822,
  -0.021153803914785385,
  0.005580806639045477,
  -0.009291695430874825,
  -3.916768037015572e-05,
  0.009893774054944515,
  -0.0024401554837822914,
  0.026885129511356354,
  0.001348887919448316,
  -0.04844417795538902,
  0.0222305990755558,
  0.026676718145608902,
  0.006460767704993486,
  0.05664171278476715,
  0.003896143985912204,
  0.0065591842867434025,
  0.0185254979878664,
  -0.032581720501184464,
  0.000864764500875026,
  -0.014102536253631115,
  -0.029154503718018532,
  -0.012909957207739353,
  0.010669529438018799,
  -0.034017447382211685,
  0.033507995307445526,
  -0.014623565599322319,
  -0.004729791544377804,
  0.005861583631485701,
  -0.01779605634510517,
  -0.06951693445444107,
  -0.03686574101448059,
  -0.023643167689442635,
  0.0356847420334816,
  -0.0036298399791121483,
  0.014797242358326912,
  0.02940922975540161,
  0.006078679114580154,
  -0.02452312968671322,
  -0.0046400586143136024,
  -0.0014603303279727697,
  0.014924605377018452,
  -0.001545721315778792,
  -0.0036298399791121483,
  -0.01262049563229084,
  -0.021836930885910988,
  0.006414453964680433,
  0.01778447814285755,
  0.013037319295108318,
  0.0202738419175148,
  0.03804674372076988,
  -0.01904652826488018,
  0.007815444841980934,
  0.008724352344870567,
  -0.036518391221761703,
  0.0307060144841671,
  -0.009488528594374657,
  -0.012944691814482212,
  -0.015144594945013523,
  -0.015283536165952682,
  -0.003974298480898142,
  0.014287791214883327,
  0.0035487909335643053,
  -0.04478539153933525,
  0.0019668869208544493,
  -0.0015876931138336658,
  -0.0018829433247447014,
  -0.05201033875346184,
  0.05891108512878418,
  0.008220690302550793,
  -0.007688081823289394,
  -0.032025955617427826,
  0.00964483805000782,
  -0.009146965108811855,
  0.027371425181627274,
  0.01957913674414158,
  -0.030567072331905365,
  0.0033866928424686193,
  0.010739000514149666,
  -0.02693144418299198,
  0.00032148254103958607,
  0.029362915083765984,
  0.027880875393748283,
  -0.009887984953820705,
  0.0071496847085654736,
  0.007219155319035053,
  -0.00643182173371315,
  -0.04941676929593086,
  0.00716705247759819,
  0.019197048619389534,
  -0.011543701402842999,
  -0.0018047888297587633,
  -0.020609617233276367,
  -0.006200253032147884,
  -0.013060476630926132,
  0.016279282048344612,
  0.013558349572122097,
  0.032836444675922394,
  0.016950830817222595,
  0.008961710147559643,
  0.004744264297187328,
  4.190398976788856e-05,
  0.015144594945013523,
  0.028598738834261894,
  -0.006993375718593597,
  -0.07294414937496185,
  0.012111044488847256,
  -0.018456028774380684,
  0.02329581417143345,
  -0.004614007193595171,
  0.007485459558665752,
  0.049092572182416916,
  0.0023214765824377537,
  -0.006043944042176008,
  0.018687596544623375,
  -0.023365285247564316,
  -0.013824653811752796,
  -0.028274541720747948,
  0.00803543534129858,
  -0.02524099126458168,
  -0.010623215697705746,
  -0.021732725203037262,
  0.022659000009298325,
  -0.0018959690351039171,
  0.004310072865337133,
  0.035267919301986694,
  -0.025611501187086105,
  0.03385534882545471,
  0.04110344871878624,
  0.008712773211300373,
  -0.009280117228627205,
  -0.029015561565756798,
  0.04281705990433693,
  -0.0003886012709699571,
  -0.02920081652700901,
  0.02621358074247837,
  -0.0007656241068616509,
  -0.015688782557845116,
  0.0272093266248703,
  0.028899777680635452,
  0.011572647839784622,
  -0.02375895157456398,
  0.009899563156068325,
  0.023944206535816193,
  0.03485109284520149,
  0.01112687774002552,
  -0.00452427426353097,
  0.03982982411980629,
  -0.02470838464796543,
  0.02848295494914055,
  0.03901933133602142,
  0.011850530281662941,
  -0.009118018671870232,
  0.013674133457243443,
  -0.04235392063856125,
  0.018247615545988083,
  -0.06006893143057823,
  0.0037658866494894028,
  0.004249286372214556,
  -0.013535192236304283,
  0.028899777680635452,
  0.029640797525644302,
  0.043882276862859726,
  -0.06831277906894684,
  0.01831708662211895,
  0.013836232014000416,
  -0.014449888840317726,
  0.013268888927996159,
  -0.008133851923048496,
  -0.04263180494308472,
  0.007143895607441664,
  0.012504711747169495,
  0.03932037204504013,
  -0.06423716992139816,
  0.06599708646535873,
  0.006518659647554159,
  0.03783833235502243,
  -0.033322740346193314,
  0.0420297235250473,
  -0.007172841578722,
  -0.020158058032393456,
  -0.00978377927094698,
  0.0440443716943264,
  0.0015312482137233019,
  -0.011636328883469105,
  -0.003311432898044586,
  -0.02176746167242527,
  0.01053637731820345,
  -0.022682158276438713,
  0.06460767984390259,
  -0.005213191267102957,
  0.04212235286831856,
  -0.012192093767225742,
  0.025194678455591202,
  -0.00864330306649208,
  0.00817437656223774,
  -0.025078894570469856,
  -0.005812375340610743,
  -0.00978956837207079,
  0.012967849150300026,
  -0.004683477804064751,
  -0.0008669354720041156,
  0.005001884885132313,
  0.0007475328166037798,
  -0.02477785386145115,
  -0.06539501249790192,
  -0.02126958779990673,
  -0.04471592232584953,
  0.03316064178943634,
  -0.010021137073636055,
  0.009633258916437626,
  0.013813074678182602,
  -0.011838951148092747,
  0.007595454342663288,
  0.030358660966157913,
  0.02001911774277687,
  0.024939952418208122,
  -0.029386071488261223,
  0.024662069976329803,
  -0.06016155704855919,
  0.0014140165876597166,
  0.010848995298147202,
  -0.02503257989883423,
  -0.004836891777813435,
  0.03839409723877907,
  -0.002975658280774951,
  -0.008602778427302837,
  0.04751790314912796,
  0.01637190952897072,
  -0.03839409723877907,
  0.044646453112363815,
  0.006767596118152142,
  -0.0006512870895676315,
  0.0019089947454631329,
  0.006344983354210854,
  0.022925304248929024,

In [4]:
search_endpoint = os.getenv('AI_SEARCH_ENDPOINT')
search_key = os.getenv('AI_SEARCH_API_KEY')
embedding_deployment = os.getenv('OPENAI_EMBEDDING_DEPLOYMENT')
index_name = database

In [ ]:

indexer.create_azure_ai_search_index(
    search_endpoint=search_endpoint,
    search_credential=search_key,
    index_name=index_name,
    embedding_deployment=aoai_embedding_deployment,
    openai_endpoint=aoai_endpoint,
    openai_key=aoai_key,
)

# write to AI Search
indexer.push_to_ai_search()

In [5]:
import time
from azure.search.documents import SearchClient
from azure.search.documents.models import QueryType, QueryCaptionType, QueryAnswerType
from azure.search.documents.models import VectorizableTextQuery
from azure.core.credentials import AzureKeyCredential
import json

search_client = SearchClient(endpoint=search_endpoint, 
                             credential=AzureKeyCredential(search_key), 
                             index_name=index_name)

tables = search_client.search(search_text="*")
tables = [{'name':table['name'],
           'description':table['description']} for table in tables]

def rewrite_query(openai_client: AzureOpenAI, 
                  deployment_name:str,
                  user_question:str,
                  evidence:str=None)->str:
    rewriter_prompt = f"""
    You are a helpful AI SQL Agent. Your role is to help people translate their questions 
    into better questions that can be translated into SQL queries.
    You should disambiguate the question and provide a more specific version of the question to the best of your ability.
    You should rewrite the question in a way that is more likely to be answered by the database.

    ## YOU MUST USE THE FOLLOWING CONTEXT ABOUT THE DATABASE TO REWRITE THE QUESTION:
    {tables}

    ## You should rewrite the question using as many terms from the context as possible without using specific table names

    You must only return a single sentence that is a better version of the user's question.
    """

    messages = [
        {
            "role": "system",
            "content": rewriter_prompt
        },
        {
            "role": "user",
            "content": user_question
        }
    ]

    rewriter_response = openai_client.chat.completions.create(
        model=deployment_name,
        messages=messages,
    )

    rewriter_response = rewriter_response.choices[0].message.content
    return rewriter_response

def search_tables(search_client: SearchClient, user_question:str)->list:
    vector_query = VectorizableTextQuery(text=user_question, k_nearest_neighbors=50, fields="embedding")

    results = search_client.search(
        search_text=user_question,
        vector_queries=[vector_query],
        query_type=QueryType.SEMANTIC,
        semantic_configuration_name='my-semantic-config',
        query_caption=QueryCaptionType.EXTRACTIVE,
        query_answer=QueryAnswerType.EXTRACTIVE,
        top=10
    )

    candidate_tables = []
    for result in results:
        candidate_tables.append(
            {key: result[key] for key in ['name', 'business_readable_name', 'description', 'columns'] if key in result}
        )

    return candidate_tables

def table_re_ranker(openai_client: AzureOpenAI, 
                    deployment:str,
                    user_question:str, 
                    candidate_tables:list)->str:
    
    reranker_prompt = f"""You are a helpful AI SQL Agent.
    Your role is to identify the most relevant tables that can be used to answer the user's question.
    You are provided with a list of tables and their schema.

    ## Important instructions:
    - Your role is to select the tables that might be relevant to the user's question.
    - Don't make assumptions on the SQL query that will be generated, only select the tables that might be relevant to the user's question.
    - You must also select a subset of the columns that contain the information needed to answer the user's question.
    - You must return 3 tables
    - You must rank the tables based on their relevance to the user's question

    You should return the 3 tables in the following JSON format:
    {{ "tables":[
        {{
            "table": "table_name",
            "columns": ["column1", "column2", "column3"]
        }}
    ]}}

    Do not return anything other than the json

    """
    user_prompt = f"""
    <User Question>: {user_question} </User Question>
    <Candidate Tables>: {candidate_tables} </Candidate Tables>"""

    messages = [
        {
            "role": "system",
            "content": reranker_prompt
        },
        {
            "role": "user",
            "content": user_prompt
        }
    ]
    
    response = openai_client.chat.completions.create(
        model=deployment,
        messages=messages,
        temperature=0.3,
        response_format={"type": "json_object"}
    )

    response_message = response.choices[0].message.content
    return response_message

def filter_candidate_tables(candidate_tables, reranked_tables_json):
    filtered_tables = []
    for table in candidate_tables:
        for reranked_table in reranked_tables_json['tables']:
            if table['name'] == reranked_table['table']:
                filtered_columns = [col for col in table['columns'] if col['name'] in reranked_table['columns']]
                filtered_tables.append({
                    'name': table['name'],
                    'description': table['description'],
                    'columns': filtered_columns
                })
    return filtered_tables

In [6]:
import json

query = "In 2012, who had the least consumption in LAM??"
evidence = "Year 2012 can be presented as Between 201201 And 201212; The first 4 strings of the Date values in the yearmonth table can represent year."

rewritten_query = rewrite_query(openai_client, 'gpt-4o-mini', query, evidence)
print(rewritten_query)

candidate_tables = search_tables(search_client, rewritten_query)
print(len(candidate_tables))

reranked_tables = table_re_ranker(openai_client, 'gpt-4o-mini', rewritten_query, candidate_tables)
print(reranked_tables)

# Parse the reranked tables JSON
reranked_tables_json = json.loads(reranked_tables)

filtered_tables = filter_candidate_tables(candidate_tables, reranked_tables_json)

print(filtered_tables)

Who were the customers in the Large Account Management (LAM) segment with the lowest product consumption in the year 2012?
5
{
    "tables": [
        {
            "table": "public.customers",
            "columns": ["customerid", "segment"]
        },
        {
            "table": "public.yearmonth",
            "columns": ["customerid", "date", "consumption"]
        },
        {
            "table": "public.transactions_1k",
            "columns": ["customerid", "date", "amount"]
        }
    ]
}
[{'name': 'public.customers', 'description': 'The customers table contains information about individual customers, including a unique identifier, their client segment classification, and the currency they use for transactions. This table helps in distinguishing customers and categorizes them into different groups such as Key Account Management (KAM), Large Account Management (LAM), and Small and Medium Enterprises (SME). The currency column indicates the currency codes like CZK and EUR used by customers in their transactions. This information is used for tailoring services and performing financial analyses.', 'columns': [{'name': 'customerid', 'type': 'bigint', 'description': None, 'definition': 'Customer ID is a unique identifier assigned to each customer in the database. It is represented as a bigint integer and serves as the primary key for the customers table. This column helps in distinguishing individual customers and is used to establish relationships with other tables in the database, such as transactions and consumption records.', 'primary_key': True, 'sample_values': ['3', '5', '6', '7', '9', '10', '20', '35', '37', '38']}, {'name': 'segment', 'type': 'text', 'description': None, 'definition': 'The segment column contains the client segment classification for each customer. This classification categorizes customers into different groups such as KAM (Key Account Management), LAM (Large Account Management), and SME (Small and Medium Enterprises). This information is used to tailor services and marketing strategies to different types of clients based on their segment.', 'primary_key': False, 'sample_values': ['KAM', 'LAM', 'SME']}]}, {'name': 'public.yearmonth', 'description': 'The transactions_1k table records detailed information about individual transactions at gas stations, including the transaction date and time, customer identification, card used, gas station, and product details. It also includes the amount and price of products purchased, with the total price being the product of amount and price. This table is essential for analyzing sales activities, customer purchasing habits, and financial performance in the context of fuel and related product sales.', 'columns': [{'name': 'customerid', 'type': 'bigint', 'description': None, 'definition': 'This column contains the unique identification numbers assigned to customers. Each value represents a distinct customer within the dataset. The customer ID is used to track and relate transactions and consumption data to specific customers. This column is essential for identifying and differentiating between various customers in analysis and reporting.', 'primary_key': False, 'sample_values': ['5', '6', '7', '9', '20', '35', '37', '38', '39', '44']}, {'name': 'date', 'type': 'text', 'description': None, 'definition': 'The date column in the yearmonth table represents the date information in a text format, likely indicating year and month. It appears in the format YYYYMM, providing a way to identify specific periods associated with consumption data for customers. This column can be used for time-based analysis and filtering of records to examine consumption trends over different months and years.', 'primary_key': False, 'sample_values': ['201112', '201201', '201202', '201203', '201204', '201205', '201206', '201207', '201208', '201209']}, {'name': 'consumption', 'type': 'real', 'description': None, 'definition': 'The consumption column records the amount of goods or services used by a customer within a specific time period, indicated by the corresponding date column. The values are expressed in real numbers, which may include negative figures, indicating a cancellation or return. This column is crucial for tracking and analyzing customer usage patterns over various periods, providing insights into consumer behavior and trends.', 'primary_key': False, 'sample_values': ['-582092.9', '-123169.73', '-18145.35', '-16041.87', '-14896.12', '-12606.39', '-12487.83', '-10383.31', '-8404.26', '-6630.31']}]}, {'name': 'public.transactions_1k', 'description': 'The "transactions_1k" table captures detailed records of transactions that occur at gas stations. Each record includes information identifying the transaction, such as the transaction ID, date, time, and the customer involved. It also specifies the card used, the gas station where the transaction took place, the product purchased, the amount of product, and the unit price. This table is essential for analyzing transaction trends, customer behavior, and sales performance at gas stations.', 'columns': [{'name': 'date', 'type': 'date', 'description': None, 'definition': 'The date column in the transactions_1k table stores the date on which a transaction occurred. The data type of this column is date, indicating that it contains specific calendar dates. This column is essential for tracking the time frame of transactions and can be used for date-specific queries and analyses.', 'primary_key': False, 'sample_values': []}, {'name': 'customerid', 'type': 'bigint', 'description': None, 'definition': 'The Customer ID column contains unique identifiers assigned to each customer involved in transactions. This numeric identifier helps to distinguish one customer from another within the transaction records. It is used to track and analyze customer behavior, including purchase history and frequency. This column plays a crucial role in linking transaction records to individual customers.', 'primary_key': False, 'sample_values': ['96', '272', '651', '679', '1057', '1227', '2183', '2464', '2510', '2581']}, {'name': 'amount', 'type': 'bigint', 'description': None, 'definition': 'The "Amount" column contains the quantity of products that were purchased in a particular transaction. This quantity is recorded as an integer. The total price of each transaction can be determined by multiplying this amount with the price of the product. This column helps in identifying the volume of items sold in each transaction.', 'primary_key': False, 'sample_values': ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']}]}]

In [25]:

from pydantic import BaseModel

def check_query(sql_query:str, tables:list, openai_client, deployment)->bool:
    query_checker = SQLQueryChecker(openai_client, deployment,'Postgres', tables)
    query_checks = query_checker.validate_query(sql_query)
    print(f'Query checks: {query_checks}')
    return query_checks

def get_tools():
    return [{
            "type": "function",
            "function": {
                "name": "check_query",
                "description": "Validate a SQL query for common mistakes, always call this before returning the query, pass in the full query",
                "parameters": {
                    "type": "object",
                    "properties": {
                        "query": {
                            "type": "string",
                            "description": "The SQL query to validate",
                        }
                    },
                    "required": ["query"],
                },
            }
        }]


def generate_sql_query(openai_client: AzureOpenAI,
                          deployment:str,
                          user_question:str,
                          evidence:str,
                          candidate_tables:list)->str:
    
    candidate_tables_min = [{'table': table['name'], 'columns': [col['name'] for col in table['columns']]} for table in candidate_tables]
    system_prompt = f"""
     You are a helpful AI data analyst assistant, 
     You can execute SQL queries to retrieve information from a SQL database,
     The database is SQL server, use the right syntax to generate queries
    
     ### You must use the POSTGRES SQL syntax to query the database
     ### You must use double quotes around the column names but not around table names
     ### Your output must be a single SQL query
     ### You must use the column sample values to infer the value in your WHERE clause
    
     ### These are the available tables in the database alongside their descriptions:
     <table_descriptions>
     {candidate_tables}
     </table_descriptions>
    
     When asked a question that could be answered with a SQL query: 
     - Break down the question into smaller parts that can be answered with SQL queries
     - Identify the tables that contain the information needed to answer the question
     - Only once this is done, create a SQL query to retrieve the information based on your understanding of the table
    
     # You must use the exact table names and column names provided in the table descriptions
     # Do not rewrite any column names in a way that is different from the table descriptions
     # You must write the column names and table names exactly as they are in the table descriptions
     # if the table name provided in the table descriptions is of the format schema.table, you must use the schema.table format in your query
     # You must produce a valid SQL query that can be executed, the query should not have any syntax errors
     # When calculating ratios, you must prevent division by zero errors 

     # Call the check_query function to validate your query before returning it
     # You must provide your entire query to the check_query function, do not split it into parts
    
     Think step by step, before doing anything, share the different steps you'll execute to get the answer
    
    ## Your response should be in JSON format with the following structure:
    
    {{"chain_of_thought": "Your reasoning",
    "sql_query": "The generated SQL query, this can only be a single query"}}

    ## You must return a valid JSON
    ## VERY IMPORTANT: You cannot return anything other than the JSON object

    """
     
    user_prompt = f"""<User Question>: {user_question} </User Question>
                <Additional Context>: {evidence} </Additional Context>"""
     
    messages = [
        {
            "role": "system",
            "content": system_prompt
        },
        {
            "role": "user",
            "content": user_prompt
        }
    ]
    
    response = openai_client.chat.completions.create(
        model=deployment,
        messages=messages,
        response_format={"type": "json_object"},
    )
    response_message = response.choices[0].message
    messages.append(response_message)

    # Check the query for common mistakes
    response_json = json.loads(response_message.content)['sql_query']
    query_checks = check_query(response_json, candidate_tables_min, openai_client, deployment)
    
    counter = 0
    while counter < 2:
        if not query_checks.get('query_valid'):
            messages.append({
                "role": "user",
                "content": f"Query validation failed, please fix your query: {query_checks.get('error')}"
            })

            response = openai_client.chat.completions.create(
                model=deployment,
                messages=messages,
                response_format={"type": "json_object"},
            )
            response_message = response.choices[0].message
            response_json = json.loads(response_message.content)['sql_query']
            query_checks = check_query(response_json, candidate_tables_min, openai_client, deployment)
            counter += 1
        else:
            break

    return response




def execute_query_pipeline(user_question, evidence=None):
    rewriter_response = rewrite_query(openai_client, 'gpt-4o-mini', user_question, evidence)
    candidate_tables = search_tables(search_client, rewriter_response)
    reranked_tables = table_re_ranker(openai_client, 'gpt-4o-mini', rewriter_response, candidate_tables)
    reranked_tables_json = json.loads(reranked_tables)
    filtered_tables = filter_candidate_tables(candidate_tables, reranked_tables_json)
    response = generate_sql_query(openai_client, aoai_deployment, user_question, evidence, filtered_tables)
    response_json = json.loads(response.choices[0].message.content, strict=False)
    candidate_table_names = [table['name'] for table in filtered_tables]
    
    return {'sql_query':response_json['sql_query'],
            'chain_of_thought':response_json['chain_of_thought'],
            'tables':candidate_table_names,
            'rewritten_question':rewriter_response,
            'table_context':candidate_tables,
            }
    
    

# Example usage
user_question = "What is the ratio of customers who pay in EUR against customers who pay in CZK?"
hint = "ratio of customers who pay in EUR against customers who pay in CZK = count(Currency = 'EUR') / count(Currency = 'CZK')."
start_time = time.time()
result = execute_query_pipeline(user_question, evidence=hint)
end_time = time.time()

latency = end_time - start_time
print("Result:", result)
print("Latency:", latency, "seconds")

Query checks: {'query_valid': True}
Result: {'sql_query': 'SELECT CASE WHEN czk_count = 0 THEN NULL ELSE eur_count::float / czk_count END AS eur_to_czk_ratio FROM (SELECT COUNT(DISTINCT CASE WHEN "currency" = \'EUR\' THEN "customerid" END) AS eur_count, COUNT(DISTINCT CASE WHEN "currency" = \'CZK\' THEN "customerid" END) AS czk_count FROM public.customers) AS subquery;', 'chain_of_thought': 'To determine the ratio of customers who pay in EUR to those who pay in CZK, I\'ll need to count the number of customers who use each currency. The relevant information can be found in the \'public.customers\' table. Specifically, I\'ll count the number of distinct "customerid" entries where the "currency" is \'EUR\' and \'CZK\'. Then, I\'ll compute the ratio of these counted values. To avoid division by zero, I will include a CASE statement ensuring that division is safe. I\'ll perform this in a single aggregate SQL query using conditional aggregation to compute the counts and the ratio.', 'tables': ['public.customers', 'public.yearmonth', 'public.transactions_1k'], 'rewritten_question': 'What is the ratio of customers using EUR as their transaction currency compared to those using CZK?', 'table_context': [{'name': 'public.customers', 'business_readable_name': 'Customer Segments', 'description': 'The customers table contains information about individual customers, including a unique identifier, their client segment classification, and the currency they use for transactions. This table helps in distinguishing customers and categorizes them into different groups such as Key Account Management (KAM), Large Account Management (LAM), and Small and Medium Enterprises (SME). The currency column indicates the currency codes like CZK and EUR used by customers in their transactions. This information is used for tailoring services and performing financial analyses.', 'columns': [{'name': 'customerid', 'type': 'bigint', 'description': None, 'definition': 'Customer ID is a unique identifier assigned to each customer in the database. It is represented as a bigint integer and serves as the primary key for the customers table. This column helps in distinguishing individual customers and is used to establish relationships with other tables in the database, such as transactions and consumption records.', 'primary_key': True, 'sample_values': ['3', '5', '6', '7', '9', '10', '20', '35', '37', '38']}, {'name': 'segment', 'type': 'text', 'description': None, 'definition': 'The segment column contains the client segment classification for each customer. This classification categorizes customers into different groups such as KAM (Key Account Management), LAM (Large Account Management), and SME (Small and Medium Enterprises). This information is used to tailor services and marketing strategies to different types of clients based on their segment.', 'primary_key': False, 'sample_values': ['KAM', 'LAM', 'SME']}, {'name': 'currency', 'type': 'text', 'description': None, 'definition': "The currency column contains the currency codes used by the customers in their transactions. The data is stored as text and often includes values such as 'CZK' and 'EUR'. This column is essential for financial analyses, as it helps in identifying the currency type for each customer, which could impact transaction amounts and overall financial calculations.", 'primary_key': False, 'sample_values': ['CZK', 'EUR']}]}, {'name': 'public.yearmonth', 'business_readable_name': 'Customer Monthly Consumption', 'description': 'The transactions_1k table records detailed information about individual transactions at gas stations, including the transaction date and time, customer identification, card used, gas station, and product details. It also includes the amount and price of products purchased, with the total price being the product of amount and price. This table is essential for analyzing sales activities, customer purchasing habits, and financial performance in the context of fuel and related product sales.', 'columns': [{'name': 'customerid', 'type': 'bigint', 'description': None, 'definition': 'This column contains the unique identification numbers assigned to customers. Each value represents a distinct customer within the dataset. The customer ID is used to track and relate transactions and consumption data to specific customers. This column is essential for identifying and differentiating between various customers in analysis and reporting.', 'primary_key': False, 'sample_values': ['5', '6', '7', '9', '20', '35', '37', '38', '39', '44']}, {'name': 'date', 'type': 'text', 'description': None, 'definition': 'The date column in the yearmonth table represents the date information in a text format, likely indicating year and month. It appears in the format YYYYMM, providing a way to identify specific periods associated with consumption data for customers. This column can be used for time-based analysis and filtering of records to examine consumption trends over different months and years.', 'primary_key': False, 'sample_values': ['201112', '201201', '201202', '201203', '201204', '201205', '201206', '201207', '201208', '201209']}, {'name': 'consumption', 'type': 'real', 'description': None, 'definition': 'The consumption column records the amount of goods or services used by a customer within a specific time period, indicated by the corresponding date column. The values are expressed in real numbers, which may include negative figures, indicating a cancellation or return. This column is crucial for tracking and analyzing customer usage patterns over various periods, providing insights into consumer behavior and trends.', 'primary_key': False, 'sample_values': ['-582092.9', '-123169.73', '-18145.35', '-16041.87', '-14896.12', '-12606.39', '-12487.83', '-10383.31', '-8404.26', '-6630.31']}]}, {'name': 'public.transactions_1k', 'business_readable_name': 'Gas Station Transactions', 'description': 'The "transactions_1k" table captures detailed records of transactions that occur at gas stations. Each record includes information identifying the transaction, such as the transaction ID, date, time, and the customer involved. It also specifies the card used, the gas station where the transaction took place, the product purchased, the amount of product, and the unit price. This table is essential for analyzing transaction trends, customer behavior, and sales performance at gas stations.', 'columns': [{'name': 'transactionid', 'type': 'bigint', 'description': None, 'definition': 'The Transaction ID column uniquely identifies each transaction within the transactions_1k table. This column contains integer values that sequentially increase, ensuring that each transaction has a distinct identifier. It is the primary key of the table, which helps in linking and referencing transactions across different tables in the database. This column is essential for tracking and managing individual transaction records.', 'primary_key': True, 'sample_values': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']}, {'name': 'date', 'type': 'date', 'description': None, 'definition': 'The date column in the transactions_1k table stores the date on which a transaction occurred. The data type of this column is date, indicating that it contains specific calendar dates. This column is essential for tracking the time frame of transactions and can be used for date-specific queries and analyses.', 'primary_key': False, 'sample_values': []}, {'name': 'time', 'type': 'text', 'description': None, 'definition': 'The time column contains the specific time of the day at which the transaction took place. The data is stored in text format, representing the time in the "HH:MM:SS" format, where HH denotes hours, MM denotes minutes, and SS denotes seconds. This column is used to record the precise moment a transaction is conducted, which can be useful for time-based analysis or filtering transactions within specific time periods.', 'primary_key': False, 'sample_values': ['00:07:00', '00:13:00', '00:16:00', '00:34:00', '00:49:00', '00:51:00', '02:00:00', '02:50:00', '03:07:00', '03:11:00']}, {'name': 'customerid', 'type': 'bigint', 'description': None, 'definition': 'The Customer ID column contains unique identifiers assigned to each customer involved in transactions. This numeric identifier helps to distinguish one customer from another within the transaction records. It is used to track and analyze customer behavior, including purchase history and frequency. This column plays a crucial role in linking transaction records to individual customers.', 'primary_key': False, 'sample_values': ['96', '272', '651', '679', '1057', '1227', '2183', '2464', '2510', '2581']}, {'name': 'cardid', 'type': 'bigint', 'description': None, 'definition': 'The Card ID column contains unique identifiers for the cards used in transactions. This column helps to associate each transaction with a specific card, allowing for tracking and analysis of card usage. The data in this column is represented as integers.', 'primary_key': False, 'sample_values': ['26228', '29378', '29379', '30883', '32057', '33446', '35708', '37489', '48431', '51047']}, {'name': 'gasstationid', 'type': 'bigint', 'description': None, 'definition': 'This column contains the identification numbers of gas stations where transactions occurred. Each transaction is associated with a specific gas station ID to indicate the location of the sale. The gas station ID is an integer that uniquely identifies each gas station in the database. This column is crucial for tracking sales and other activities related to specific gas stations.', 'primary_key': False, 'sample_values': ['48', '64', '65', '89', '92', '94', '97', '104', '105', '106']}, {'name': 'productid', 'type': 'bigint', 'description': None, 'definition': 'The productid column in the transactions_1k table represents the unique identifier for products involved in transactions. Each value in this column corresponds to a specific product purchased during a transaction at a gas station. The identifiers are integers and are used to reference detailed product information, such as descriptions, found in the products table.', 'primary_key': False, 'sample_values': ['2', '5', '7', '8', '9', '11', '12', '15', '16', '18']}, {'name': 'amount', 'type': 'bigint', 'description': None, 'definition': 'The "Amount" column contains the quantity of products that were purchased in a particular transaction. This quantity is recorded as an integer. The total price of each transaction can be determined by multiplying this amount with the price of the product. This column helps in identifying the volume of items sold in each transaction.', 'primary_key': False, 'sample_values': ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']}, {'name': 'price', 'type': 'real', 'description': None, 'definition': 'This column stores the unit price of each product sold in a transaction. The price is represented as a real number, indicating the cost per unit of the product at the time of the transaction. This value is essential for calculating the total cost of the transaction when multiplied by the quantity of the product purchased. The price data helps in analyzing sales trends and pricing strategies over time.', 'primary_key': False, 'sample_values': ['1.76', '3.64', '3.78', '4.74', '5.44', '6.04', '6.09', '6.29', '7.0', '7.12']}]}, {'name': 'public.gasstations', 'business_readable_name': 'Gas Station Information', 'description': 'The gasstations table contains detailed information about each gas station. It includes unique identifiers for each station, its affiliation with a chain, and geographic location by country. Additionally, the table categorizes stations based on their market positioning or strategy. This information is essential for analyzing performance, conducting transactions, and filtering data by various attributes such as country or chain affiliation.', 'columns': [{'name': 'gasstationid', 'type': 'bigint', 'description': None, 'definition': 'This column uniquely identifies each gas station listed in the database. The gas station ID is an integer value assigned to each gas station for identification purposes and is used as a reference in transactions and other records. This column is critical to linking gas station data with relevant details like chain ID, country, and segment.', 'primary_key': True, 'sample_values': ['44', '45', '46', '47', '48', '49', '50', '51', '52', '53']}, {'name': 'chainid', 'type': 'bigint', 'description': None, 'definition': 'This column identifies the chain that a gas station is a part of. Each chain is represented by a unique numeric ID, which allows for the grouping and classification of gas stations across different regions and segments. This column is useful for filtering transactions or stations by their chain affiliation and analyzing performance based on chain membership.', 'primary_key': False, 'sample_values': ['1', '2', '3', '4', '6', '7', '8', '9', '10', '11']}, {'name': 'country', 'type': 'text', 'description': None, 'definition': 'The "country" column contains the country information for each gas station. The values in this column are in text format, representing the country where the gas station is located. This data is important for filtering transactions or gas station information by country. The column will include a list of country codes such as "CZE" and "SVK".', 'primary_key': False, 'sample_values': ['CZE', 'SVK']}, {'name': 'segment', 'type': 'text', 'description': None, 'definition': 'The segment column contains the categorization of gas stations based on their market positioning or strategy. Examples of segment values include Discount, Noname, Other, Premium, and Value for money. This classification helps in identifying the type and quality of service or products that a gas station offers.', 'primary_key': False, 'sample_values': ['Discount', 'Noname', 'Other', 'Premium', 'Value for money']}]}, {'name': 'public.products', 'business_readable_name': 'Product Descriptions', 'description': 'The products table contains information regarding various products offered within the database. Each product is uniquely identified by a Product ID, which serves as the primary key. The table also includes descriptions of these products, providing specific information that helps in identifying and differentiating them. This table is essential for linking product-related information across different tables in the database.', 'columns': [{'name': 'productid', 'type': 'bigint', 'description': None, 'definition': 'The Product ID column uniquely identifies each product within the product database. It is an integer value that serves as a primary key, ensuring each product has a unique identifier. This column is essential for linking product-related information across different tables in the database.', 'primary_key': True, 'sample_values': ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']}, {'name': 'description', 'type': 'text', 'description': None, 'definition': 'This column contains textual descriptions of products. Each value provides specific information about a product, which can include types of fees, vehicle accessories, or other items. The descriptions help identify and differentiate between various products listed in the database.', 'primary_key': False, 'sample_values': ['55 - Acquirer Simple Fee', '56 - Acquirer Terminal Fee', '57 - Acquirer Event Fee', '58 - Acquirer Transaction Fee', 'Accessories for vehicle wash', '**Acquirer Event Fee**', '**Acquirer Simple Fee**', '**Acquirer Terminal Fee**', '**Acquirer Transaction Fee**', 'AdBlue']}]}]}
Latency: 5.723617315292358 seconds

In [16]:
sql_client.query(result['sql_query'])

'[{"eur_to_czk_ratio": 0.06572769953051644}]'

In [17]:
import pandas as pd

df = pd.read_json('mini_dev_postgresql.json')
eval = df[df['db_id']=='debit_card_specializing']
eval.head()

,question_id,db_id,question,evidence,SQL,difficulty
0,1471,debit_card_specializing,What is the ratio of customers who pay in EUR ...,ratio of customers who pay in EUR against cust...,SELECT CAST(SUM(CASE WHEN Currency = 'EUR' THE...,simple
1,1472,debit_card_specializing,"In 2012, who had the least consumption in LAM?",Year 2012 can be presented as Between 201201 A...,SELECT T1.CustomerID FROM customers AS T1 INNE...,moderate
2,1473,debit_card_specializing,What was the average monthly consumption of cu...,Average Monthly consumption = AVG(Consumption)...,"SELECT AVG(T2.Consumption) / NULLIF(12, 0) FRO...",moderate
3,1476,debit_card_specializing,What was the difference in gas consumption bet...,cast the consumption into float when perform c...,SELECT SUM(CASE WHEN T1.Currency = 'CZK' THEN ...,challenging
4,1479,debit_card_specializing,Which year recorded the most consumption of ga...,The first 4 strings of the Date values in the ...,"SELECT SUBSTR(T2.Date, 1, 4) FROM customers AS...",moderate

In [ ]:
from tqdm import tqdm

tqdm.pandas()

eval['llm_result'] = eval.progress_apply(lambda row: execute_query_pipeline(row['question'], row['evidence']), axis=1)
eval['generated_sql_query'] = eval['llm_result'].apply(lambda x: x['sql_query'])
eval['rewritten_question'] = eval['llm_result'].apply(lambda x: x['rewritten_question'])
eval['generated_context_tables'] = eval['llm_result'].apply(lambda x: x['tables'])
eval['generated_chain_of_thought'] = eval['llm_result'].apply(lambda x: x['chain_of_thought'])

  0%|          | 0/30 [00:00<?, ?it/s]

['public.customers', 'public.yearmonth', 'public.transactions_1k']

  7%|▋         | 2/30 [00:06<01:36,  3.43s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT CASE WHEN COUNT(CASE WHEN "currency" = 'CZK' THEN 1 END) = 0 THEN NULL ELSE CAST(COUNT(CASE WHEN "currency" = 'EUR' THEN 1 END) AS FLOAT) / COUNT(CASE WHEN "currency" = 'CZK' THEN 1 END) END AS eur_to_czk_ratio FROM public.customers
['public.customers', 'public.yearmonth', 'public.transactions_1k']

 10%|█         | 3/30 [00:15<02:29,  5.53s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT "customerid", MIN(consumption) AS min_consumption FROM public.yearmonth ym JOIN public.customers c ON ym.customerid = c.customerid WHERE ym.date BETWEEN '201201' AND '201212' AND c.segment = 'LAM' GROUP BY "customerid" ORDER BY min_consumption LIMIT 1;
['public.yearmonth', 'public.customers', 'public.transactions_1k']

 13%|█▎        | 4/30 [00:26<03:20,  7.70s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT AVG("consumption") / 12 AS average_monthly_consumption FROM public.yearmonth INNER JOIN public.customers ON public.yearmonth."customerid" = public.customers."customerid" WHERE "date" BETWEEN '201301' AND '201312' AND "segment" = 'SME';
['public.customers', 'public.yearmonth', 'public.transactions_1k']

 17%|█▋        | 5/30 [00:33<03:00,  7.24s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT SUM(CASE WHEN currency = 'CZK' THEN consumption::float ELSE 0 END) - SUM(CASE WHEN currency = 'EUR' THEN consumption::float ELSE 0 END) AS consumption_difference FROM public.yearmonth INNER JOIN public.customers ON public.yearmonth.customerid = public.customers.customerid WHERE date BETWEEN '201201' AND '201212';
['public.customers', 'public.yearmonth', 'public.transactions_1k']

 20%|██        | 6/30 [00:39<02:44,  6.86s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT LEFT(y."date", 4) AS year, SUM(y."consumption") AS total_consumption FROM public.yearmonth y JOIN public.customers c ON y."customerid" = c."customerid" WHERE c."currency" = 'CZK' GROUP BY LEFT(y."date", 4) ORDER BY total_consumption DESC LIMIT 1
['public.yearmonth', 'public.customers', 'public.transactions_1k']

 23%|██▎       | 7/30 [00:48<02:53,  7.54s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT SUBSTRING(y.date, 5, 2) AS month, SUM(y.consumption) AS total_consumption FROM public.yearmonth y INNER JOIN public.transactions_1k t ON y.date = TO_CHAR(t.date, 'YYYYMM') INNER JOIN public.customers c ON t.customerid = c.customerid WHERE c.segment = 'SME' AND y.date BETWEEN '201301' AND '201312' GROUP BY SUBSTRING(y.date, 5, 2) ORDER BY total_consumption DESC LIMIT 1;
['public.customers', 'public.yearmonth', 'public.transactions_1k']

 27%|██▋       | 8/30 [00:58<03:03,  8.33s/it]

Query checks: {'query_valid': True}
SQL Query: WITH RankedConsumption AS (SELECT "customers"."segment", "yearmonth"."customerid", SUM("yearmonth"."consumption") AS total_consumption, ROW_NUMBER() OVER (PARTITION BY "customers"."segment" ORDER BY SUM("yearmonth"."consumption") ASC) AS rn FROM public.customers INNER JOIN public.yearmonth ON "customers"."customerid" = "yearmonth"."customerid" WHERE "customers"."currency" = 'CZK' AND "yearmonth"."date" BETWEEN '201301' AND '201312' GROUP BY "customers"."segment", "yearmonth"."customerid"), AverageConsumption AS (SELECT "segment", total_consumption AS annual_average FROM RankedConsumption WHERE rn = 1) SELECT (SELECT annual_average FROM AverageConsumption WHERE "segment" = 'SME') - (SELECT annual_average FROM AverageConsumption WHERE "segment" = 'LAM') AS difference_sme_lam, (SELECT annual_average FROM AverageConsumption WHERE "segment" = 'LAM') - (SELECT annual_average FROM AverageConsumption WHERE "segment" = 'KAM') AS difference_lam_kam, (SELECT annual_average FROM AverageConsumption WHERE "segment" = 'KAM') - (SELECT annual_average FROM AverageConsumption WHERE "segment" = 'SME') AS difference_kam_sme;
['public.customers', 'public.yearmonth', 'public.transactions_1k']

 30%|███       | 9/30 [01:07<02:59,  8.53s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT "segment", (coalesce(consumption_2013, 0) - coalesce(consumption_2012, 0))::real / NULLIF(coalesce(consumption_2013, 0), 0) * 100 AS percentage_increase FROM ( SELECT c."segment", SUM(CASE WHEN SUBSTRING(y."date", 1, 4) = '2012' THEN y."consumption" ELSE 0 END) AS consumption_2012, SUM(CASE WHEN SUBSTRING(y."date", 1, 4) = '2013' THEN y."consumption" ELSE 0 END) AS consumption_2013 FROM public.customers c INNER JOIN public.yearmonth y ON c."customerid" = y."customerid" WHERE c."currency" = 'EUR' AND c."segment" IN ('KAM', 'LAM', 'SME') GROUP BY c."segment" ) AS segment_consumption ORDER BY percentage_increase ASC LIMIT 1;
['public.yearmonth', 'public.transactions_1k', 'public.customers']

 33%|███▎      | 10/30 [01:11<02:27,  7.38s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT SUM("consumption") AS total_consumption FROM public.yearmonth WHERE "customerid" = 6 AND "date" BETWEEN '201308' AND '201311';
['public.gasstations', 'public.transactions_1k', 'public.products']

 37%|███▋      | 11/30 [01:18<02:15,  7.12s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT COALESCE(SUM(CASE WHEN "country" = 'CZE' AND "segment" = 'Discount' THEN 1 ELSE 0 END), 0) - COALESCE(SUM(CASE WHEN "country" = 'SVK' AND "segment" = 'Discount' THEN 1 ELSE 0 END), 0) AS discount_difference FROM public.gasstations;
['public.customers', 'public.transactions_1k', 'public.gasstations']

 40%|████      | 12/30 [01:26<02:10,  7.26s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT COUNT(CASE WHEN "currency" = 'CZK' THEN 1 END) AS count_czk, COUNT(CASE WHEN "currency" = 'EUR' THEN 1 END) AS count_eur, COUNT(CASE WHEN "currency" = 'CZK' THEN 1 END) - COUNT(CASE WHEN "currency" = 'EUR' THEN 1 END) AS difference FROM public.customers WHERE "segment" = 'SME';
['public.customers', 'public.yearmonth', 'public.transactions_1k']

 43%|████▎     | 13/30 [01:31<01:55,  6.79s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT (CAST(COUNT(CASE WHEN y."consumption" > 46.73 THEN 1 END) AS float) / NULLIF(COUNT(c."customerid"), 0)) * 100 AS percentage_consumed_more_than_46_73 FROM public.customers c JOIN public.yearmonth y ON c."customerid" = y."customerid" WHERE c."segment" = 'LAM';
['public.transactions_1k', 'public.yearmonth', 'public.customers']

 47%|████▋     | 14/30 [01:36<01:40,  6.30s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT COALESCE((COUNT(DISTINCT CASE WHEN "consumption" > 528.3 THEN "customerid" END) * 100.0 / NULLIF(COUNT(DISTINCT "customerid"), 0)), 0) AS percentage FROM public.yearmonth WHERE "date" = '201202';
['public.yearmonth', 'public.transactions_1k', 'public.products']

 50%|█████     | 15/30 [01:44<01:39,  6.64s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT MAX(CAST("consumption" AS float)) AS max_consumption FROM public.yearmonth WHERE "date" LIKE '2012%';
['public.yearmonth', 'public.transactions_1k', 'public.products']

 53%|█████▎    | 16/30 [01:50<01:32,  6.61s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT DISTINCT p."description" FROM public.transactions_1k t JOIN public.yearmonth ym ON to_char(t."date", 'YYYYMM') = ym."date" JOIN public.products p ON t."productid" = p."productid" WHERE ym."date" = '201309'
['public.gasstations', 'public.transactions_1k', 'public.yearmonth']

 57%|█████▋    | 17/30 [02:06<02:02,  9.40s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT DISTINCT g."country" FROM public.transactions_1k t JOIN public.gasstations g ON t."gasstationid" = g."gasstationid" JOIN public.yearmonth y ON to_char(t."date", 'YYYYMM') = y."date" WHERE y."date" = '201306';
['public.customers', 'public.yearmonth', 'public.transactions_1k']

 60%|██████    | 18/30 [02:12<01:39,  8.32s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT COUNT(DISTINCT c."customerid") AS number_of_customers FROM public.customers c JOIN public.yearmonth ym ON c."customerid" = ym."customerid" WHERE c."currency" = 'EUR' AND ym."consumption" > 1000;
['public.transactions_1k', 'public.gasstations', 'public.products']

 63%|██████▎   | 19/30 [02:18<01:23,  7.58s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT DISTINCT products."description" FROM public.transactions_1k JOIN public.gasstations ON transactions_1k."gasstationid" = gasstations."gasstationid" JOIN public.products ON transactions_1k."productid" = products."productid" WHERE gasstations."country" = 'CZE';
['public.yearmonth', 'public.transactions_1k', 'public.gasstations']

 67%|██████▋   | 20/30 [02:26<01:16,  7.69s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT DISTINCT t."time" FROM public.transactions_1k t JOIN public.gasstations g ON t.gasstationid = g.gasstationid WHERE g.chainid = 11;
['public.yearmonth', 'public.transactions_1k', 'public.gasstations']

 70%|███████   | 21/30 [02:34<01:11,  7.96s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT COUNT(*) FROM public.transactions_1k WHERE "date" > '2012-01-01' AND "gasstationid" IN (SELECT "gasstationid" FROM public.gasstations WHERE "country" = 'CZE')
['public.customers', 'public.yearmonth', 'public.transactions_1k']

 73%|███████▎  | 22/30 [02:42<01:01,  7.73s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT c."currency" FROM public.transactions_1k t JOIN public.customers c ON t."customerid" = c."customerid" WHERE t."date" = '2012-08-24' AND t."time" = '16:25:00';
['public.customers', 'public.transactions_1k', 'public.gasstations']

 77%|███████▋  | 23/30 [02:49<00:52,  7.53s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT c."segment" FROM public.transactions_1k t JOIN public.customers c ON t."customerid" = c."customerid" WHERE t."date" = '2012-08-23' AND t."time" = '21:20:00'
['public.yearmonth', 'public.transactions_1k', 'public.gasstations']

 80%|████████  | 24/30 [02:54<00:41,  6.94s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT COUNT(*) FROM public.transactions_1k t JOIN public.gasstations g ON t."gasstationid" = g."gasstationid" WHERE t."date" = '2012-08-26' AND t."time" BETWEEN '08:00:00' AND '09:00:00' AND g."country" = 'CZE';
['public.customers', 'public.transactions_1k', 'public.yearmonth']

 83%|████████▎ | 25/30 [03:13<00:52, 10.47s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT c."currency" FROM public.transactions_1k t JOIN public.customers c ON t."customerid" = c."customerid" WHERE t."amount" = 548.4 AND t."date" = '2012-08-24';
['public.customers', 'public.yearmonth', 'public.transactions_1k']

 87%|████████▋ | 26/30 [03:19<00:36,  9.02s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT (CASE WHEN COUNT(DISTINCT t."customerid") = 0 THEN 0 ELSE (COUNT(DISTINCT CASE WHEN c."currency" = 'EUR' THEN t."customerid" END)::float / COUNT(DISTINCT t."customerid")) * 100 END) AS eur_customer_percentage FROM public.transactions_1k t JOIN public.customers c ON t."customerid" = c."customerid" WHERE t."date" = '2012-08-25'
['public.yearmonth', 'public.transactions_1k', 'public.customers']

 90%|█████████ | 27/30 [03:28<00:27,  9.00s/it]

Query checks: {'query_valid': True}
SQL Query: WITH target_customer AS (
  SELECT "customerid"
  FROM public.transactions_1k
  WHERE date = '2012-08-25' AND 634.8 = (SELECT amount) -- Assuming '634.8' is the exact transaction amount
  LIMIT 1
),
consumption_2012 AS (
  SELECT SUM("consumption") AS total_2012
  FROM public.yearmonth
  WHERE "customerid" IN (SELECT "customerid" FROM target_customer) AND "date" LIKE '2012%'
),
consumption_2013 AS (
  SELECT SUM("consumption") AS total_2013
  FROM public.yearmonth
  WHERE "customerid" IN (SELECT "customerid" FROM target_customer) AND "date" LIKE '2013%'
)
SELECT
  (c2012.total_2012 - c2013.total_2013) / NULLIF(c2012.total_2012, 0) AS consumption_decrease_rate
FROM
  consumption_2012 c2012
  CROSS JOIN consumption_2013 c2013;
['public.customers', 'public.gasstations', 'public.transactions_1k']

 93%|█████████▎| 28/30 [03:42<00:21, 10.77s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT CASE WHEN total_gas_stations_SVK > 0 THEN (premium_gas_stations / total_gas_stations_SVK::float) * 100 ELSE 0 END AS premium_percentage FROM (SELECT COUNT(*) FILTER (WHERE "segment" = 'Premium') AS premium_gas_stations, COUNT(*) AS total_gas_stations_SVK FROM public.gasstations WHERE "country" = 'SVK') AS gas_station_counts;
['public.yearmonth', 'public.transactions_1k', 'public.customers']

 97%|█████████▋| 29/30 [03:49<00:09,  9.62s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT SUM(t."amount" * t."price") AS total_spent, SUM(CASE WHEN y."date" = '201201' THEN t."amount" * t."price" ELSE 0 END) AS spent_in_january_2012 FROM public.transactions_1k t JOIN public.yearmonth y ON CAST(EXTRACT(YEAR FROM t."date") AS TEXT) || LPAD(CAST(EXTRACT(MONTH FROM t."date") AS TEXT), 2, '0') = y."date" WHERE t."customerid" = 38508;
['public.customers', 'public.yearmonth', 'public.transactions_1k']

100%|██████████| 30/30 [03:58<00:00,  9.21s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT t1."customerid", (SUM(t1."amount" * t1."price")) AS total_spending, (SUM(t1."amount") > 0) AS has_valid_amount, CASE WHEN SUM(t1."amount") > 0 THEN SUM(t1."price") / SUM(t1."amount") ELSE 0 END AS average_price_per_item, c."currency" FROM public.transactions_1k t1 JOIN public.customers c ON t1."customerid" = c."customerid" GROUP BY t1."customerid", c."currency" ORDER BY total_spending DESC LIMIT 1
['public.yearmonth', 'public.transactions_1k', 'public.products']

100%|██████████| 30/30 [04:11<00:00,  8.40s/it]

Query checks: {'query_valid': True}
SQL Query: SELECT ym."customerid", ym."consumption" FROM public.yearmonth ym JOIN (SELECT t."customerid" FROM public.transactions_1k t WHERE t."productid" = 5 AND t."price" > 29) AS high_price_customers ON ym."customerid" = high_price_customers."customerid" WHERE ym."date" = '201208';

In [28]:
eval.head(7)

,question_id,db_id,question,evidence,SQL,difficulty,llm_result,generated_sql_query,generated_query_result,ground_truth_result,IsValidSQL,SQLExecutionAccuracy
0,1471,debit_card_specializing,What is the ratio of customers who pay in EUR ...,ratio of customers who pay in EUR against cust...,SELECT CAST(SUM(CASE WHEN Currency = 'EUR' THE...,simple,{'sql_query': 'SELECT COUNT(DISTINCT CASE WHEN...,"SELECT COUNT(DISTINCT CASE WHEN ""currency"" = '...","[{""eur_to_czk_ratio"": 0.06572769953051644}]","[{""?column?"": 0.06572769953051644}]",1,"{\n ""is_correct"": 1,\n ""justification"": ..."
1,1472,debit_card_specializing,"In 2012, who had the least consumption in LAM?",Year 2012 can be presented as Between 201201 A...,SELECT T1.CustomerID FROM customers AS T1 INNE...,moderate,{'sql_query': 'SELECT customerid FROM public.y...,SELECT customerid FROM public.yearmonth WHERE ...,"[{""customerid"": 47273, ""total_consumption"": 0....","[{""customerid"": 47273}]",1,"{\n ""is_correct"": 1,\n ""justification"": ..."
2,1473,debit_card_specializing,What was the average monthly consumption of cu...,Average Monthly consumption = AVG(Consumption)...,"SELECT AVG(T2.Consumption) / NULLIF(12, 0) FRO...",moderate,"{'sql_query': 'SELECT AVG(""consumption"") / 12 ...","SELECT AVG(""consumption"") / 12 AS average_mont...","[{""average_monthly_consumption"": 459.956264211...","[{""?column?"": 459.95626421124325}]",1,"{\n ""is_correct"": 1,\n ""justification"": ..."
3,1476,debit_card_specializing,What was the difference in gas consumption bet...,cast the consumption into float when perform c...,SELECT SUM(CASE WHEN T1.Currency = 'CZK' THEN ...,challenging,{'sql_query': 'SELECT (CAST(SUM(CASE WHEN cust...,SELECT (CAST(SUM(CASE WHEN customers.currency ...,"[{""consumption_difference"": 402524570.0228404}]","[{""?column?"": 402524570.0228404}]",1,"{\n ""is_correct"": 1,\n ""justification"": ..."
4,1479,debit_card_specializing,Which year recorded the most consumption of ga...,The first 4 strings of the Date values in the ...,"SELECT SUBSTR(T2.Date, 1, 4) FROM customers AS...",moderate,"{'sql_query': 'SELECT LEFT(y.""date"", 4) AS yea...","SELECT LEFT(y.""date"", 4) AS year, SUM(y.""consu...","[{""year"": ""2013"", ""total_consumption"": 2992772...","[{""substr"": ""2013""}]",1,"{\n ""is_correct"": 1,\n ""justification"": ..."
5,1480,debit_card_specializing,What was the gas consumption peak month for SM...,Year 2013 can be presented as Between 201301 A...,"SELECT SUBSTR(T2.Date, 5, 2) FROM customers AS...",moderate,{'sql_query': 'SELECT 'The required calculatio...,SELECT 'The required calculation cannot be per...,"[{""date"": ""201304""}]","[{""substr"": ""04""}]",1,"{\n ""is_correct"": 1,\n ""justification"": ..."
6,1481,debit_card_specializing,What is the difference in the annual average c...,annual average consumption of customer with th...,SELECT CAST(SUM(CASE WHEN T1.Segment = 'SME' T...,challenging,{'sql_query': 'WITH Least_Consumption_CZK AS (...,"WITH Least_Consumption_CZK AS ( SELECT c.""segm...","[{""sme_lam_difference"": -12438.070068359375, ""...","[{""?column?"": -582092.875}]",1,"{\n ""is_correct"": 0,\n ""justification"": ..."

In [19]:
# execute the queries against the database and output the results

def run_query(query):
    try:
        result = sql_client.query(query)
        return result
    except Exception as e:
        return str(e)
    
eval['generated_query_result'] = eval['generated_sql_query'].progress_apply(run_query)
eval['ground_truth_result'] = eval['SQL'].progress_apply(run_query)

100%|██████████| 30/30 [00:05<00:00,  5.54it/s]
100%|██████████| 30/30 [00:04<00:00,  6.01it/s]

In [20]:
class isValidSQL:
    def __init__(self, db_client: DatabaseClient):
        self.db_client = db_client

    def __call__(self,*, query,**kwds):
        try:
            result = self.db_client.query(query)
            return 1
        except Exception as e:
            return 0

class SQLExecutionAccuracy:
    def __init__(self, db_client: DatabaseClient, openai_client: AzureOpenAI):
        self.db_client = db_client

    def __call__(self,*, question, query, expected_result, **kwds):
        evaluator_prompt = f"""You are a helpful AI SQL expert.
        Your are given a question, the expected result and the results generated by a SQL query.
        Your role is to determine if the ground truth result and the generated result are the same.
        These are query results so the columns may not be in the same order or have the same names but contain the right information.


        ## Specifically you must:
        - Compare the expected result with the generated result
        - If the generated result is not the same as the expected result but contains the same information or numerical data, you return 1
        - If the generated result is exactly the same as the expected result, you return 1
        - If the generated result is different from the expected result and does not contain the same information, you return 0
        - If two numeric values are rounded differently, you should consider them the same

        - If the generated result is not exactly the same as the expected result but the expected result can be derived from the generated 
        results by applying post processing like (dividing, adding, extracting or multiplying, you should return 1). Pay very close attention to the question and the expected result.

        ## Additional instructions:
        Questions about months might have an answer formatted differently but having the same meaning, e.g 202403, March 2024, 03/2024, 2024-03, etc.,

        Your response should be formatted as a JSON object with the following structure:
        {{
            "is_correct": 1 or 0,
            "justification": "Your reasoning"
        }}        
        ## Examples
        - Question: What is the average amount spent by customer 234?
        - Generated Result: [{{"average_spend": 0.06572769953051644}}]
        - Expecter Result: [{{"?column?": 0.06572769953051644}}]

        Answer: {{"is_correct": 1, "justification": "The generated result is the same as the expected result"}}
        """
        try:
            result = self.db_client.query(query)
            user_prompt = f"""
                    Question: {question}
                    Generated Result: {result}
                    Expected Result: {expected_result}
                    """
            messages = [{"role": "system", "content": evaluator_prompt},
                        {"role": "user", "content": user_prompt},
                        ]
            response = openai_client.chat.completions.create(
                model="gpt-4o-global",
                messages=messages,
                response_format={"type": "json_object"}
            )
            response = response.choices[0].message.content
            return response
        except Exception as e:
            return None

In [21]:

eval['IsValidSQL']=eval.progress_apply(lambda row: isValidSQL(sql_client)(query=row['generated_sql_query']), axis=1)
eval['SQLExecutionAccuracy'] = eval.progress_apply(lambda row: SQLExecutionAccuracy(sql_client, openai_client)(question=row['question'],
                                                                                                                query=row['generated_sql_query'],
                                                                                                                expected_result=row['ground_truth_result']), axis=1)

100%|██████████| 30/30 [00:02<00:00, 12.68it/s]
100%|██████████| 30/30 [00:56<00:00,  1.90s/it]

In [22]:
execution_accuracy = eval['SQLExecutionAccuracy'].apply(lambda x: json.loads(x).get('is_correct') if x else None).mean()
valid_sql = eval['IsValidSQL'].mean()

print("SQL Execution Accuracy:", execution_accuracy)
print("Valid SQL Queries:", valid_sql)

SQL Execution Accuracy: 0.5862068965517241
Valid SQL Queries: 0.9666666666666667

In [79]:
eval.to_csv('mini_dev_postgresql_evaluated.csv', index=False)

In [74]:
## Langchain 

from langchain_community.utilities.sql_database import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
from langchain_openai import AzureChatOpenAI
import psycopg2

# Construct the database URI
pg_db_uri = f"postgresql+psycopg2://{username}:{password}@{server}:5432/{database}"

# Establish database connections
pg_db = SQLDatabase.from_uri(pg_db_uri)

# Initialize the Azure OpenAI language model
azure_llm = AzureChatOpenAI(
  azure_endpoint = aoai_endpoint,
  api_key=aoai_key,
  api_version="2024-10-21",
  deployment_name='gpt-4o-global',
)

context = pg_db.get_context()
print(list(context))
print(context["table_info"])

['table_info', 'table_names']

CREATE TABLE customers (
	customerid BIGINT NOT NULL,
	segment TEXT,
	currency TEXT,
	CONSTRAINT idx_47287_customers_pkey PRIMARY KEY (customerid)
)

/*
3 rows from customers table:
customerid	segment	currency
3	SME	EUR
5	LAM	EUR
6	SME	EUR
*/


CREATE TABLE gasstations (
	gasstationid BIGINT NOT NULL,
	chainid BIGINT,
	country TEXT,
	segment TEXT,
	CONSTRAINT idx_47292_gasstations_pkey PRIMARY KEY (gasstationid)
)

/*
3 rows from gasstations table:
gasstationid	chainid	country	segment
44	13	CZE	Value for money
45	6	CZE	Premium
46	23	CZE	Other
*/


CREATE TABLE products (
	productid BIGINT NOT NULL,
	description TEXT,
	CONSTRAINT idx_47297_products_pkey PRIMARY KEY (productid)
)

/*
3 rows from products table:
productid	description
1	Rucní zadání
2	Nafta
3	Special
*/


CREATE TABLE transactions_1k (
	transactionid BIGSERIAL NOT NULL,
	date DATE,
	time TEXT,
	customerid BIGINT,
	cardid BIGINT,
	gasstationid BIGINT,
	productid BIGINT,
	amount BIGINT,
	price REAL,
	CONSTRAINT idx_47303_transactions_1k_pkey PRIMARY KEY (transactionid)
)

/*
3 rows from transactions_1k table:
transactionid	date	time	customerid	cardid	gasstationid	productid	amount	price
1	2012-08-24	09:41:00	31543	486621	3704	2	28	672.64
2	2012-08-24	10:03:00	46707	550134	3704	2	18	430.72
3	2012-08-24	10:03:00	46707	550134	3704	23	1	121.99
*/


CREATE TABLE yearmonth (
	customerid BIGINT,
	date TEXT,
	consumption REAL
)

/*
3 rows from yearmonth table:
customerid	date	consumption
5	201207	528.3
5	201302	1598.28
5	201303	1931.36
*/

In [91]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain.callbacks.base import BaseCallbackHandler


class SQLHandler(BaseCallbackHandler):
    def __init__(self):
        self.sql_result = []

    def on_agent_action(self, action, **kwargs):
        """Run on agent action. if the tool being used is sql_db_query,
         it means we're submitting the sql and we can 
         record it as the final sql"""

        if action.tool in ["sql_db_query_checker","sql_db_query"]:
            self.sql_result.append(action.tool_input)

agent_executor = create_sql_agent(azure_llm, db=pg_db, agent_type="openai-tools", verbose=False)

def execute_sql_agent(user_query):
    handler = SQLHandler()
    try:
        response = agent_executor.invoke({'input': user_query}, {'callbacks': [handler]})
        sql_queries = handler.sql_result
        return sql_queries
    except Exception as e:
        return None

eval['langchain_result'] = eval['question'].progress_apply(execute_sql_agent)

  0%|          | 0/30 [00:00<?, ?it/s]

100%|██████████| 30/30 [03:17<00:00,  6.58s/it]

In [100]:
eval['langchain_query'] = eval['langchain_result'].apply(lambda x: x[-1].get('query') if x else None)
eval['langchain_execution'] = eval.progress_apply(lambda row: SQLExecutionAccuracy(sql_client, openai_client)(question=row['question'], 
                                                                                                            query=row['langchain_query'],
                                                                                                            expected_result=row['ground_truth_result']), axis=1)
execution_accuracy = eval['langchain_execution'].apply(lambda x: json.loads(x).get('is_correct') if x else None).mean()
print("Langchain SQL Execution Accuracy:", execution_accuracy)

100%|██████████| 30/30 [00:32<00:00,  1.08s/it]

Langchain SQL Execution Accuracy: 0.27586206896551724

In [96]:
eval['langchain_response'] = eval['langchain_query'].progress_apply(run_query)

100%|██████████| 30/30 [00:00<00:00, 32.85it/s]

In [98]:
eval['langchain_response']

0             [{"eur_count": 2002, "czk_count": 30459}]
1      [{"customerid": 6056, "total_consumption": 0.0}]
2                                                    []
3     [{"currency": "CZK", "total_gas_consumption": ...
4     [{"year": 2012.0, "total_consumption_czk": 175...
5     [{"date": "201304", "peak_consumption": 786530...
6                                                    []
7     [{"segment": "KAM", "year": 2012.0, "total_amo...
8                         [{"total_consumption": null}]
9     [{"country": "SVK", "discount_gas_stations": 5...
10            [{"czk_count": 25134, "eur_count": 1629}]
11    [{"percent_consumed_more_than_46_73": 81.33333...
12      Query must be a string unless using sqlalchemy.
13                  [{"highest_consumption": 445279.7}]
14                                                   []
15                                                   []
16    [{"customer_count": 1}, {"customer_count": 1},...
17    [{"description": "Dalnic.popl."}, {"descriptio...
18         [{"time": "11:55:00"}, {"time": "14:29:00"}]
19                                       [{"count": 0}]
20    [{"currency": "CZK"}, {"currency": "CZK"}, {"c...
21                                 [{"segment": "KAM"}]
22                                      [{"count": 14}]
23                                                   []
24    [{"percentage_eur_customers": 2.70270270270270...
25            [{"year": 2012.0, "total_spent": 6161.5}]
26    [{"segment": "Other", "count": 334}, {"segment...
27                    [{"amount_spent_jan_2012": null}]
28         [{"avg_price_per_item": 453.60737268548263}]
29    [{"consumption_status": "KAM"}, {"consumption_...
Name: langchain_response, dtype: object

[{'name': 'public.products',
  'description': 'The products table contains information regarding various products offered within the database. Each product is uniquely identified by a Product ID, which serves as the primary key. The table also includes descriptions of these products, providing specific information that helps in identifying and differentiating them. This table is essential for linking product-related information across different tables in the database.'},
 {'name': 'public.customers',
  'description': 'The customers table contains information about individual customers, including a unique identifier, their client segment classification, and the currency they use for transactions. This table helps in distinguishing customers and categorizes them into different groups such as Key Account Management (KAM), Large Account Management (LAM), and Small and Medium Enterprises (SME). The currency column indicates the currency codes like CZK and EUR used by customers in their transactions. This information is used for tailoring services and performing financial analyses.'},
 {'name': 'public.yearmonth',
  'description': 'The transactions_1k table records detailed information about individual transactions at gas stations, including the transaction date and time, customer identification, card used, gas station, and product details. It also includes the amount and price of products purchased, with the total price being the product of amount and price. This table is essential for analyzing sales activities, customer purchasing habits, and financial performance in the context of fuel and related product sales.'},
 {'name': 'public.transactions_1k',
  'description': 'The "transactions_1k" table captures detailed records of transactions that occur at gas stations. Each record includes information identifying the transaction, such as the transaction ID, date, time, and the customer involved. It also specifies the card used, the gas station where the transaction took place, the product purchased, the amount of product, and the unit price. This table is essential for analyzing transaction trends, customer behavior, and sales performance at gas stations.'},
 {'name': 'public.gasstations',
  'description': 'The gasstations table contains detailed information about each gas station. It includes unique identifiers for each station, its affiliation with a chain, and geographic location by country. Additionally, the table categorizes stations based on their market positioning or strategy. This information is essential for analyzing performance, conducting transactions, and filtering data by various attributes such as country or chain affiliation.'}]